.postCard {
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 5px;
}

.postImage {
    /* width: 1000px; */
    height: 300px;
    width: 300px;
    /* height: auto; */
    background-color: red;
    /* margin: 10px; */
    /* padding: 10px; */
}