.MainPage {
    margin: 0;
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
    min-height: 100vh;
}

.title {
    color: green;
    text-align: center;
    padding: 40px;
    padding-bottom: 0;
}